{{- if .Values.pvcReader.enabled }}
apiVersion: v1
kind: Pod
metadata:
  name: {{ .Values.pvcReader.name }}
  namespace: {{ include "adresowo-scraper.namespace" . }}
  labels:
    {{- include "adresowo-scraper.labels" . | nindent 4 }}
spec:
  containers:
  - name: reader
    image: {{ .Values.pvcReader.image.repository }}:{{ .Values.pvcReader.image.tag }}
    command: ["sh", "-c", "ls -la /data && find /data -type f"]
    volumeMounts:
    - name: data-volume
      mountPath: /data
      readOnly: true
  volumes:
  - name: data-volume
    persistentVolumeClaim:
      claimName: {{ .Values.pvc.name }}
  restartPolicy: Never
{{- end }}
