apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: scraper

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - job-warszawa.yaml
  - job-wroclaw.yaml
  - job-lodz.yaml
  - cronjob.yaml

labels:
- pairs:
    app.kubernetes.io/name: adresowo-scraper
    app.kubernetes.io/version: "1.0.0"
  includeSelectors: true

images:
  - name: adresowo-scraper
    newTag: latest